body{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("images/booksimg (1).jpg") ;
    background-size: cover;
    position: relative;
}
.logo
{
font-family: 'Verdana';
font-size: 24px;
color: white;

}
label.logo
{
    color:white;
    font-size:35px;
    line-height:80px;
    padding:0 100px;
    font-weight: bold;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  